<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiburela.ecuavisit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permission for camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iberlogo_icono"
        android:label="Ecuavisit"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".LoginAndRegistro.RecuperaPasword"
            android:exported="false" />
        <activity
            android:name=".Activitys.SubeLugares"
            android:exported="false" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAndRegistro.RegistroCuentaGoogle"
            android:exported="true" />
        <activity
            android:name=".Activitys.MainActivityCenter"
            android:exported="true"></activity>
        <activity
            android:name=".LoginAndRegistro.RegistroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginAndRegistro.ActivRecuperaPasword"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginAndRegistro.ActivityLogin"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>